*{
    font-family: "Roboto", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #d5d0c7;
}

.relogio-img{
    margin-top: 60px;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

h1{
    margin-top: 10px;
    text-align: center;
    font-size: 70px;
    position: relative;
    bottom: 490px;
    background: none;
}

.container-button{
    position: absolute; 
    bottom: 246px; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex; 
    gap: 10px; 
    background: none;
}

button{
    margin: 0 auto;
    cursor: pointer;
    border-color: #000000;
    background-color: #d60f00;
    padding: 13px 20px;
    width: 100px; 
    height: 48px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 5px; 
    margin-right: 10px;
}

button:hover{
    opacity: .7;
}

button:active{
    opacity: .6;
}

.reset-button{
    margin: 0 auto;
    display: block;
    position: absolute; 
    bottom: 187px; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex; 
    gap: 10px; 
    padding-left: 26px;
}

@media screen and (max-width:1280px){

    .relogio-img{
        width: 100%;
    }

    h1{
        margin-top: 0px;
        text-align: center;
        font-size: 155px;
        position: relative;
        bottom: 1129px;
        background: none;
    }

    .container-button{
        top: 1166px
    }

    button{
        font-size: 55px;
        width: 255px;
        height: 89px;
    }

    .reset-button{
        top: 1280px;
        padding: 11px 50px;
    }


}

@media screen and (max-width:1080px){

    .relogio-img{
        width: 100%;
    }

    h1{
        font-size: 133px;
        bottom: 980px;
    }

    .container-button{
        top: 969px;
    }

    button{
        font-size: 45px;
        width: 232px;
        height: 83px;
    }

    .reset-button{
        top: 1068px;
        padding: 10px 55px;
    }


}

@media screen and (max-width:1024px){

    .relogio-img{
        width: 100%;
    }

    h1{
        font-size: 126px;
        bottom: 934px;
    }

    .container-button{
        top: 891px;
    }

    button{
        font-size: 44px;
        width: 219px;
        height: 79px;
    }

    .reset-button{
        top: 1000px;
        padding: 11px 50px;
    }


}


@media screen and (max-width:912px){

    .relogio-img{
        width: 100%;
    }

    h1{
        font-size: 113px;
        bottom: 826px;
    }

    .container-button{
        top: 836px;
    }

    button{
        width: 193px;
        height: 72px;
    }

    .reset-button{
        top: 926px;
    }


}

@media screen and (max-width:853px){

    .relogio-img{
        width: 100%;
    }

    h1{
        font-size: 99px;
        bottom: 773px;
    }

    .container-button{
        top: 750px;
    }

    button{
        font-size: 39px;
        width: 187px;
        height: 69px;
    }

    .reset-button{
        top: 835px;
        padding: 10px 35px;
    }


}

@media screen and (max-width:820px){

    .relogio-img{
        width: 100%;
    }

    h1{
        font-size: 95px;
        bottom: 735px;
    }

    .container-button{
        top: 727px;
    }

    button{
        font-size: 36px;
        width: 171px;
        height: 64px;
    }

    .reset-button{
        top: 815px;
        padding: 9px 39px;
    }


}

@media screen and (max-width:768px){

    .relogio-img{
        width: 100%;
    }

    h1{
        margin-top: 0px;
        text-align: center;
        font-size: 88px;
        position: relative;
        bottom: 674px;
        background: none;
    }

    .container-button{
        top: auto;
        bottom: 255px;
    }

    button{
        font-size: 34px;
        width: 155px;
        height: 66px;
    }

    .reset-button{
          bottom: 171px;
          top: auto;
          padding: 10px 34px;
      }
}

@media screen and (max-width:540px){

        .relogio-img{
            width: 100%;
        }
    
        h1{
            font-size: 68px;
            bottom: 524px;
        }
    
        .container-button{
            bottom: 180px;
        }
    
        button{
            font-size: 24px;
            width: 122px;
            height: 50px;
    
        }
    
        .reset-button{
            bottom: 116px;
            padding: 9px 27px;
        
          }
}


@media screen and (max-width:527px){

    .relogio-img{
        width: 100%;
    }

    h1{
        margin-top: 36px;
        text-align: center;
        font-size: 60px;
        position: relative;
        bottom: 501px;
        background: none;
    }

    .container-button{
        bottom: 261px; 
    }

    button{
        padding: 11px 20px;
        width: 100px; 
        height: 44px;
    }
    
    .reset-button{
        bottom: 206px; 
        padding-left: 27px;
    }

}

@media screen and (max-width:519px){

    .container-button{
        bottom: 268px; 
    }

    .reset-button{
        bottom: 207px; 

    }

}

@media screen and (max-width:511px){

    h1{
        font-size: 55px;
        bottom: 483px;
    }

    .container-button{
        bottom: 272px; 
    }

    button{
        width: 89px;
        height: 40px;
    }

    .reset-button{
        bottom: 216px; 
        padding-left: 23px;

    }
    
}

@media screen and (max-width:505px){

    .container-button{
        bottom: 281px; 
    }

    .reset-button{
        bottom: 227px; 
    }
    
}

@media screen and (max-width:495px){

    h1 {
        font-size: 49px;
        bottom: 466px;
    }

    .container-button{
        bottom: 281px; 
    }

    .reset-button{
        bottom: 227px; 
    }
    
}

@media screen and (max-width:492px){

    .container-button{
        bottom: 290px; 
    }

    .reset-button{
        bottom: 236px; 
    }
    
}

@media screen and (max-width:483px){

    h1{
        bottom: 468px;
    }

    .container-button {
        bottom: 307px;
    }
    
    .reset-button {
        bottom: 252px;
    } 
}

@media screen and (max-width:475px){

    h1{
        bottom: 453px;
    }

}

@media screen and (max-width:471px){

    h1{
        font-size: 42px;
        bottom: 431px;
    }

    .container-button{
        bottom: 301px; 
    }

    button {
        width: 70px;
        height: 39px;
        font-size: 15px;
    }

    .reset-button{
        bottom: 251px; 
        padding-left: 13px;

    }
    
}

@media screen and (max-width:462px){

    .container-button{
        bottom: 311px; 
    }

    .reset-button{
        bottom: 259px; 
    
    }
    
}

@media screen and (max-width:454px){

    .container-button{
        bottom: 325px; 
    }

    .reset-button{
        bottom: 276px; 
    
    }
}

@media screen and (max-width:430px){
       
    h1{ 
        font-size: 41px;
        bottom: 398px;
}

    button{
    width: 66px;
    height: 35px;
    font-size: 12px;
    }

    .container-button{
        bottom: 468px;
    }

    .reset-button{
        bottom: 425px;
        padding: 9px 16px;
    
    }
}

@media screen and (max-width:414px){
       
    h1{ 
    font-size: 36px;
    bottom: 383px;
}

    button{
    width: 66px;
    height: 35px;
    font-size: 12px;
    }

    .container-button{
        bottom: 447px; 
    }

    .reset-button{
        bottom: 404px;
        padding: 9px 16px;
    
    }
}

@media screen and (max-width:412px){
       
    .container-button{
        bottom: 469px; 
    }

    .reset-button{
        bottom: 425px;
    }
}

@media screen and (max-width:390px){

        .container-button{
            bottom: 429px; 
        }
    
        .reset-button {
            bottom: 385px;
        }

}

@media screen and (max-width:376px) {

    .relogio-img{
        width: 100%;
    }

    h1{ 
        font-size: 36px;
        bottom: 378px;
    }

    .container-button{
        bottom: 379px; 
    }

    button{
        width: 66px;
        height: 35px;
        font-size: 12px;
    }
    
    .reset-button{
        bottom: 338px; 
        padding: 9px 16px;
    }

}

@media screen and (max-width:375px){
       
    h1{ 
    font-size: 36px;
    bottom: 378px;
}

    button{
    width: 66px;
    height: 35px;
    font-size: 12px;
    }

    .container-button{
        bottom: 262px; 
    }

    .reset-button{
        bottom: 219px;
        padding: 9px 16px;
    
    }
}

@media screen and (max-width:372px){
       
    .container-button{
        bottom: 383px;    
    }

    .reset-button{
        bottom: 341px;
        padding: 9px 16px;
    
    }
}

@media screen and (max-width:360px){

        h1 {
            bottom: 359px;
        }

        .container-button{
            bottom: 350px; 
        }
    
        .reset-button{
            bottom: 306px;
        
        }
}

@media screen and (max-width:344px){

    h1 {
        bottom: 352px;
    }

    .container-button{
        bottom: 509px;
    }

    .reset-button{
        bottom: 466px;
    
    }
}

@media screen and (max-width:298px){

    h1 {
        bottom: 307px;
        font-size: 31px;
    }

    .container-button{
        bottom: 94px;
    }

    button{
        width: 55px;
        height: 27px;
        font-size: 12px;
        padding: 3px 17px;
    }

    .reset-button{
        bottom: 59px;
        padding: 6px 12px;
    }
}
   

@media screen and (max-width:283px){

    h1 {
        bottom: 307px;
        font-size: 31px;
    }

    .container-button{
        bottom: 290px;
    }

    button{
        width: 60px;
        height: 30px;
        font-size: 12px;
        padding: 7px 20px;
    }

    .reset-button{
        bottom: 250px;
        padding: 6px 15px;
    }
}
    
